.mainj{
    height:10vh;
    width:100vw;
    top: 0;
    background-color: rgb(9, 9, 74);
    display:flex;
    vertical-align: top;
    align-items: center;
    font-style:bold;
    position:fixed;
    
}
.a1j{
    font-size: 30px;
    color:white;
    padding-left: 130px;
}
.bj{
font-size:20px;
padding-left: 130px;
gap:20px;
display: flex;
flex-direction: row;
}
.bj a{
    color:white;
    text-decoration: none;
}
.bj a:hover{
    color: gold;
}
.butj{
    color:black;
    background-color:orange;
    height:30px;
    width:100px;
    font-size:17px;
    border-radius:5px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 130px;
}
.a101{
    height: 60vh;
    width:100vw;
    background-image: url(https://wallpapercave.com/wp/wp2577110.jpg);
    background-position:center;
    background-size: cover;
    text-align: center;
    
}
.a102{
    color:white;
    font-size:45px;
    text-align: center;
    padding-top: 150px;
}
.a103{
    color:white;
  
    font-size: 20px;
}
.a104{
    height: 60vh;
    width:100vw;
    background-color: rgb(249, 241, 241);
}
.a105{
    font-size: 33px;
    color: rgb(4, 4, 59);
    padding-top: 40px;
    font-style: bold;
}
.a106{
    color:grey;
    font-size: 17px;
    padding-top: 10px;
}
.a107{
    height:150px;
    width:250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    margin-left: 10px;
    padding-top: 30px;
    transition: 0.3s;
}
.a107:hover{
    transform: translateY(-10px);
}
.a108{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:orange;
    margin-left: 90px;
}
.a109{
    line-height: 70px;
    font-size: 18px;
}
.a110{
    color:black;
    font-size: 16px;
    padding-top: 10px;
}
.a112{
    color:grey;
    font-size: 15px;
    padding-top: 5px;
}
.a113{
    height:150px;
    width:250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    margin-left: 50px;
    padding-top: 30px;
    transition: 0.3s;
}
.a113:hover{
    transform: translateY(-10px);
}
.a114{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:orange;
    margin-left: 90px;
}
.a115{
    line-height: 70px;
    font-size: 18px;
}
.a116{
    color:black;
    font-size: 16px;
    padding-top: 10px;
}
.a117{
    color:grey;
    font-size: 15px;
    padding-top: 5px;
}
.a107,.a113,.a118,.a123{
    display: inline-block;
    vertical-align: top;
}
.a118{
    height:150px;
    width:250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    margin-left: 50px;
    padding-top: 30px;
    transition: 0.3s;
}
.a118:hover{
    transform: translateY(-10px);
}
.a119{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:orange;
    margin-left: 90px;
}
.a120{
    line-height: 70px;
    font-size: 18px;
}
.a121{
    color:black;
    font-size: 16px;
    padding-top: 10px;
}
.a122{
    color:grey;
    font-size: 15px;
    padding-top: 5px;
}
.a123{
    height:150px;
    width:250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    margin-left: 50px;
    padding-top: 30px;
    transition: 0.3s;
}
.a123:hover{
    transform: translateY(-10px);
}
.a124{
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color:orange;
    margin-left: 90px;
}
.a125{
    line-height: 70px;
    font-size: 18px;
}
.a126{
    color:black;
    font-size: 16px;
    padding-top: 10px;
}
.a127{
    color:grey;
    font-size: 15px;
    padding-top: 5px;
}
.a128{
    height: 55vh;
    width:100vw;
    background-color: whitesmoke;
    
}
.a129{
    font-size: 35px;
    color: rgb(6, 6, 63);
    padding-top: 30px;
}
.a130{
    background-color: white; 
    height: 200px;
    width: 550px; 
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
}
.a131{
    color: rgb(5, 5, 72);
    font-style: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
}
ul{
    padding-left: 50px;
    
}
li{
    text-align: left;
    line-height: 30px;
}
.a132{
    background-color: white;
    height: 200px;
    width: 550px; 
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;

}
.a133{
    color: rgb(5, 5, 70);
    font-style: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 40px;
    text-align: left;
  
}
.a130,.a132{
    display: inline-block;
    vertical-align: top;
}
.a134{
    height:200vh;
    width:100vw;
    background-color: rgb(209, 204, 204);
    margin-top: 50px;
}
.a135{
    font-size: 35px;
    color: black;
    padding-top: 30px;
}
.a136{
    height:170vh;
    width:85vw;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.all{
    text-align: left;
}
.a137{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 10px;
}
.a138,.a140,.a142,.a144{
    height:35px;
    width: 70vw;
    margin-left: 50px;
    border-radius: 5px;
    margin-top: 8px;
    border: 1px solid black;
}
.a139{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 15px;
    
}
.a141{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 15px;   
}
.a143{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 15px;   
}
.a145{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 15px;   
}
.a146,.a147{
    margin-left: 50px;
}
.a147{
    margin-bottom: 50px;
}
.a148,.a149,.a151,.a153{
    padding-left: 50px;
    font-size: 20px;
    color: black;
    padding-top: 30px;  
}
.oo{
     height:37px;
    width: 70vw;
    margin-left: 60px;
    border-radius: 5px;
    margin-top: 8px;
    border: 1px solid black;
}
.legend,.ox1{
    color:rgb(3, 3, 47);
    font-size: 18px;
}
.oo1,.oo2{
    font-size: 15px;
}
.a150{
 height:33px;
    width: 70vw;
    margin-left: 55px;
    border-radius: 5px;
    margin-top: 8px;
    border: 1px solid black;
}
.a152,.az1,.az2,.az3{
    margin-left: 50px;
}
.a152{
    border-radius: 10px;
}
.kk,.kk1{
    border-radius: 10px;
}
.kk,.kk1{
    margin-top: 30px;
}
.a154{
    height: 41px;
    width:200px;
    background-color: rgb(230, 157, 21);
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.a154:hover{
    transform: translateY(-5px);
}
.a155{
    height: 41px;
    width:150px;
    background-color:rgb(230, 157, 21);
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}
.a155:hover{
    transform: translateY(-5px);
}
.a156{
    height:60vh;
    width:100vw;
    background-color: rgb(237, 228, 228);
    margin-top: 60px;
}
.a157{
    color:rgb(4, 4, 63);
    font-size: 37px;
    padding-top: 70px;
}
.a158{
    color:grey;
    font-size: 16px;
    padding-top: 10px;
}
.a160,.a163,.a166{
    height:150px;
    width:300px;
    background-color: white;
    box-shadow: 3px 3px 6px wheat;
    border-radius: 10px;
    transition: 0.3s;
    padding-top: 25px;
    margin-left: 30px;
}
.a160:hover{
    transform: translateY(-5px);
}
.a163:hover{
    transform: translateY(-5px);
}
.a166:hover{
    transform: translateY(-5px);
}
.a161{
    color: rgb(4, 4, 60);
    font-size: 18px;
    padding-top: 10px;
}
.a162{
    color:black;
    font-size: 18px;
    padding-top: 10px;
}
.a163{
    color:rgb(6, 6, 81);
    font-size: 20px;

}
.a164{
    color: rgb(4, 4, 61);
    font-size: 18px;
    padding-top: 10px;
}
.a165{
    color:black;
    font-size: 18px;
    padding-top: 10px;
}
.a160,.a163,.a166{
    display: inline-block;
    vertical-align: top;
}
.a167{
    color: rgb(4, 4, 75);
    font-size: 18px;
    padding-top: 10px;
}
.a168{
    color:black;
    font-size: 18px;
    padding-top: 10px;
}
.a169{
    height:60vh;
    width:100vw;
    background-color: white;
    padding-top: 10px;
}
.a170{
    color:rgb(4, 4, 63);
    font-size: 37px;
    margin-left: 30px;
}
table,th,td{
    height: 7vh;
    width:150vh;
    margin-top: 20px;
    margin-left: 190px;
    border: 1px solid wheat;
    border-collapse: collapse;
}
th{
    color:white;
    font-size: 20px;
    background-color: rgb(6, 6, 66);;
}
tr:hover{
    background-color: whitesmoke;
}
.a171{
    height:50vh;
    width:120vw;
    background-color: rgb(246, 239, 239);
    padding-top: 20px;
    margin-top: 30px;
}
.a172{
    color:rgb(3, 3, 65);
    font-size: 37px;
    margin-right: 200px;
}
.a173{
    height:150px;
    width:300px;
    background-color: white;
    box-shadow: 3px 3px 6px wheat;
    border-radius: 10px;
    margin-left: 10px;
}
.a174{
    color: rgb(4, 4, 71);
    font-size: 18px;
    padding-top: 10px;

}
.a175{
    color:rgb(94, 90, 90);
    font-size: 17px;
   
}
.a176{
    height:150px;
    width:300px;
    background-color: white;
    box-shadow: 3px 3px 6px wheat;
    border-radius: 10px;
    margin-left: 20px;
}
.a177{
    color: rgb(4, 4, 71);
    font-size: 18px;
    padding-top: 10px;

}
.a178{
    color:rgb(94, 90, 90);
    font-size: 17px;
   
}
.a179{
    height:150px;
    width:300px;
    background-color: white;
    box-shadow: 3px 3px 6px wheat;
    border-radius: 10px;
    margin-left: 20px;
}
.a180{
    color: rgb(4, 4, 71);
    font-size: 18px;
    padding-top: 10px;

}
.a181{
    color:rgb(94, 90, 90);
    font-size: 17px;
}
.a173,.a176,.a179{
    display: inline-block;
    vertical-align: top;
    transition: 0.3s;
}
.a173:hover{
    transform: translateY(-10px);
}
.a176:hover{
    transform: translateY(-10px);
}
.a179:hover{
    transform: translateY(-10px);
}
.a179{
    margin-right: 250px;
}
.a182{
    height:50vh;
    width:100vw;
    background-color: rgb(240, 237, 237);
    margin-top: 60px;
}
.a183{
    color:rgb(4, 4, 64);
    padding-top: 40px;
    font-size: 37px;
}
.a184{
    height:120px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    transition: 0.3s;
    margin-left: 30px;
    padding: 0;
}
.a184:hover{
    transform: translateY(-10px);
}
.a185{
    color:rgb(4, 4, 64);
    font-size: 19px;
    padding-top: 20px;
}
.a186{
    color:black;
    font-size: 17px;

}
.a187{
    height:120px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    transition: 0.3s;
    margin-left: 30px;
    padding: 0;
}
.a187:hover{
    transform: translateY(-10px);
}
.a188{
    color:rgb(4, 4, 64);
    font-size: 19px;
    padding-top: 20px;
}
.a189{
    color:black;
    font-size: 17px;

}
.a190{
    height:120px;
    width:300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px wheat;
    transition: 0.3s;
    margin-left: 30px;
    padding: 0;
}
.a190:hover{
    transform: translateY(-10px);
}
.a191{
    color:rgb(4, 4, 64);
    font-size: 19px;
    padding-top: 20px;
}
.a192{
    color:black;
    font-size: 17px;
}
.a184,.a187,.a190{
    display:inline-block;
    vertical-align: top;
}
.bgm8b{
    background-color: rgb(5, 5, 54);
    height:35vh;
    width:100vw;
    padding-top: 70px;
    align-items: center;
    
}
.c3b{
    color:gold;
    width:300px;
    font-size:20px;
    font-style: bold;
    padding-right: 70px;
}
.c4b{
    color:white;
    font-size: 17px;
    font-style: bold;
    padding-top: 20px;
    line-height: 30px;
}
.c5b{
    color:gold;
    font-size:20px;
    font-style: bold;
    padding-right: 70px;
    line-height: 30px;
    
}
.c3b,.c5b,{
    display:inline-block;
    vertical-align: top;
}
.c6b,.c7b,.c8b,.c9b{
    color:white;
    line-height: 1px;
    font-size: 17px;
    font-style: bold;
}
.c6b{
    padding-top: 30px;
}
.v1b{
    color:gold;
    width:100px;
    font-size:20px;
    padding-right: 70px;
    line-height: 30px;
    
}
.c3b,.c5b,.v1b,.v2xb{
    display:inline-block;
    vertical-align: top;

}
.v21b,.v23b,.v24b,.v25b{
    color:white;
    font-size: 15px;
    line-height: 1px;
}
.v21b{
    padding-top: 30px;
}
.v2xb{
    color:gold;
    font-size:20px;
    padding-left: 30px;
    margin-right: 60px;
}
.menub{
    color: white;
    padding-top:20px;
    font-size: 17px;
    font-style: bold;
    line-height: 30px;
}
.lastb{
    height:5vh;
    width:100vw;
    background-color: rgb(5, 5, 54);
    color:white;
    padding-top: 30px;
    border-top: 1px solid white;
    margin-top: 30px;
}
